<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>715577631079-s3pb47ffi4kia7ito9gvabbjjch41kma.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.715577631079-s3pb47ffi4kia7ito9gvabbjjch41kma</string>
	<key>API_KEY</key>
	<string>AIzaSyAhCs0ipX1RycNNCL6yGW8et5HsrT8FB5I</string>
	<key>GCM_SENDER_ID</key>
	<string>715577631079</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.deblur.Stickers</string>
	<key>PROJECT_ID</key>
	<string>stickers-2335c</string>
	<key>STORAGE_BUCKET</key>
	<string>stickers-2335c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715577631079:ios:065781082e7ca9f6350fc2</string>
</dict>
</plist>